@page
@model Fragment.WebUI.Pages.Fragments.ListModel
@{
    ViewData["Title"] = "Fragments";
}

<h1>Fragments</h1>

@if (Model.Fragments.Any())
{
    foreach (var fragment in Model.Fragments)
    {
        <div>
            <partial name="_FragmentPartial" model="@fragment" />
        </div>
    }

    if (Model.CurrentSkip == 0)
    {
        <span>Prev</span>
    }
    else
    {
        <a asp-page="/Fragments/List" asp-route-skip="@Model.PrevSkip">Prev</a>
    }

    <span>|</span>

    if (Model.NextSkip == Model.CurrentSkip)
    {
        <span>Next</span>
    }
    else
    {
        <a asp-page="/Fragments/List" asp-route-skip="@Model.NextSkip">Next</a>
    }
}
else
{
    <p>No fragments found.</p>
}

<div>
    <a asp-page="/Fragments/Add">add fragment</a>
</div>
